html, body{
  background-color:#B0B0B0;
}

header{
  color: blue;
  display:flex;
  justify-content:center;
  border-style: solid;  
}

.blue{
  color:red;
  display:flex;
  justify-content:center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

p{
  font-size: 22px;
}